<a href="https://colab.research.google.com/github/safiyeolgun/students-lab/blob/main/03302023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Dictionary Collection**

1) Günün sorusu: Girilen Sayının Pozitif, Negatif, ya da 0 Olduğunu Bulan **Python** **kodu** yazınız.

In [ ]:
# 2) 9. satırda bu kolleksiyonun veri türünü yazdıran kodu print içerisine ekleyin 
# dictionary collection, key-value pair

first_dict = {'key1': 'value',
              'key2': 'value'}


#how to check type of a dictionary
print(type(first_dict))

<class 'dict'>

In [ ]:
# 3) 3. ve 4. satırların sonucunda ne elde edilir?

empty_dict1 = {}  # with curly braves
empty_dict2 = dict()  # with dict() function

print(type(empty_dict1))
print(type(empty_dict2))

<class 'dict'>
<class 'dict'>

In [ ]:
# 4) 4.satırdaki print içerisine baba ve annenin adını yazdırın.
family = {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}

print(family['baba'], family['anne'])  # ayrı satırlarda da çıktı alınabilir

Ahmet Ayşe

In [ ]:
# 5) 4.satırdaki hatayı düzeltin. İşlem yapmadığında ekranda 'olmayan key girdiniz' yazmasını sağlayın.
family = {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}

print(family.get('çocuk2', 'olmayan key girdiniz'))  # Hatası Type Error, kodun hatalı hali: print(family.get['çocuk2']) 
# print(family['çocuk2'])   # collection'da olmayan key olunca hata verir, ama get olmayan key olunca varsa mesajı yazar


print(family.get('çocuk1', 'olmayan key girdiniz'))  # .get(key,[key bulunamayına görüncek mesaj]) metthodu [] almaz. Dict'ten verilen anahtarlar ile değer almayı sağlar
print(family['çocuk1'])

olmayan key girdiniz
Ömer
Ömer

In [ ]:
# 6) Aşağıdaki collection'lar birbirine eşit mi?

dict1 = {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}  
dict2 = dict(baba='Ahmet', anne ='Ayşe', çocuk1 = 'Ömer')
dict3 = dict([('baba', 'Ahmet'), ('anne', 'Ayşe'), ('çocuk1', 'Ömer')])

dict3_1 = dict([('baba', ['Ahmet',50, 60]), ('anne', 'Ayşe'), ('çocuk1', 'Ömer')])
dict3_2 = dict([('baba', {'Ahmet': 50}), ('anne', 'Ayşe'), ('çocuk1', 'Ömer')])
dict3_3 = dict([('baba', {'Ahmet': (50, 'Ali')}), ('anne', 'Ayşe'), ('çocuk1', 'Ömer')])
dict3_4 = dict([('baba', {'Ahmet': (50, 60)}), ('anne', 'Ayşe'), ('çocuk1', 'Ömer')])

dict4 = dict({'anne': 'Ayşe', 'çocuk1': 'Ömer', 'baba': 'Ahmet'})
dict5 = dict({'çocuk1': 'Ömer', 'baba': 'Ahmet'}, anne ='Ayşe' )
dict6 = dict(zip(['baba', 'anne','çocuk1'], ['Ahmet', 'Ayşe', 'Ömer']))  

# zip([key_list], [value_list]) fonksiyonu 2 ayrı eleman sayısı eşit list collectionun ilk key, ikincisini value olacak şekilde birleştirir

dict7 = dict.fromkeys(['baba', 'anne','çocuk1'], ['Ahmet', 'Ayşe', 'Ömer'])
dict7_1 = dict.fromkeys(['Ahmet', 'Ayşe', 'Ömer'], 'Yılmaz')
dict7_2 = dict.fromkeys(['baba'], ['Ahmet', 'Ayşe', 'Ömer'])

print(type(dict1), dict1)
print(type(dict2), dict2)
print(type(dict3), dict3)
print()
print(type(dict3_1), dict3_1)
print(type(dict3_2), dict3_2)
print(type(dict3_3), dict3_3)
print(type(dict3_4), dict3_4)
print()
print(type(dict4), dict4)
print(type(dict5), dict5)
print(type(dict6), dict6)
print()
print(type(dict7), dict7)
print(type(dict7_1), dict7_1, len(dict7_1))
print(type(dict7_2), dict7_2, len(dict7_2))


print(dict4 == dict1)
print(dict5 == dict1)
print(dict6 == dict1)

<class 'dict'> {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}
<class 'dict'> {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}
<class 'dict'> {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}

<class 'dict'> {'baba': ['Ahmet', 50, 60], 'anne': 'Ayşe', 'çocuk1': 'Ömer'}
<class 'dict'> {'baba': {'Ahmet': 50}, 'anne': 'Ayşe', 'çocuk1': 'Ömer'}
<class 'dict'> {'baba': {'Ahmet': (50, 'Ali')}, 'anne': 'Ayşe', 'çocuk1': 'Ömer'}
<class 'dict'> {'baba': {'Ahmet': (50, 60)}, 'anne': 'Ayşe', 'çocuk1': 'Ömer'}

<class 'dict'> {'anne': 'Ayşe', 'çocuk1': 'Ömer', 'baba': 'Ahmet'}
<class 'dict'> {'çocuk1': 'Ömer', 'baba': 'Ahmet', 'anne': 'Ayşe'}
<class 'dict'> {'baba': 'Ahmet', 'anne': 'Ayşe', 'çocuk1': 'Ömer'}

<class 'dict'> {'baba': ['Ahmet', 'Ayşe', 'Ömer'], 'anne': ['Ahmet', 'Ayşe', 'Ömer'], 'çocuk1': ['Ahmet', 'Ayşe', 'Ömer']}
<class 'dict'> {'Ahmet': 'Yılmaz', 'Ayşe': 'Yılmaz', 'Ömer': 'Yılmaz'} 3
<class 'dict'> {'baba': ['Ahmet', 'Ayşe', 'Ömer']} 1
True
True
True

In [ ]:
# 7) 5. satırdaki bu çıktının sonucunda hangi hata ile karşılaşılır? 

dif_dict = dict(isim='Joseph', soyad='Apple', cinsiyet='erkek', numara=2340, boy=1.86, ingilizce_bilme=True)

print(dif_dict)

# hata yok, dictionary value'ler farklı veri türleri alabilir(str, int, float, bool)

{'isim': 'Joseph', 'soyad': 'Apple', 'cinsiyet': 'erkek', 'numara': 2340, 'boy': 1.86, 'ingilizce_bilme': True}

In [ ]:
# 7.1) Aşağıdaki collection key ve value değerlerini inceleyiniz.

dif_dict1 = dict( soyad=['Apple', 'Leek', 'spinack','Orange'], 
                cinsiyet=('erkek','kadın'), 
                apple=['elma','apfla','yabloka'],
                numara={2340: True})

# dictionary'nin her elemanının value'sinin kendi içindeki eleman sayısı farklı olabilir
# dictionary'nin her elemanı farklı veri türlerinde olabilir. (list, tuple, dict)

In [ ]:
# 8) Bu collection'da 
#     A) Antalya'nın plaka numarasını 07 olarak değiştirin, 
#     B) Neden bu collection 2 adet aynı ismi taşıyan key'e sahip?
#     C) 44 numaralı plakanın şehrini Malatya yapın
city = {'Ankara': '06', 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44}

print(len(city))  # bir collection eleman sayısı 8'dir. Hem 'İzmir' hem de 'izmir' ayrı ayrı elaman sayılır.

city['Antalya'] = '07'    # Collection içindeki 0 ile yazılması gereken value'ler str veri türünde 

                       

# 'İzmir': 35 elemanındaki key ile 'izmir': 44 elemanının key'i aynı değildir. Büyük/küçük har duyarlılığı var
city_izmir = {'Ankara': '06', 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'İzmir': 99}
# 'İzmir': 99 görünür, son verilen değer esas alınır
print(len(city_izmir))  # Bu collection elemans sayısı 7 'dir.


city['Malatya'] = 44
city.pop('izmir')         #  Üsteki satırla birlikte tek satırda şöyle yazılır: city['Malatya'] = city.pop('izmir') 
print(city)

8
7
{'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '07', 'Hatay': 31, 'Malatya': 44}

In [ ]:
# 8.1) Aşağıdaki collection içine değer tüm value'lerin yeni atamalarını int türünde yapılarak yukarıdaki probleme bakın

city = {'Ankara': '06', 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44}

# city['Antalya'] = 07      # SyntaxError hatasını verir sayı önüne 0 yazılmaz 

# Sayı önüne 0 yazılıp tırnak içine alınmazsa SyntaxError hatası ile karşılaşılır. Sayıların önüne/öncesine/soluna 0 gelmez
# city_int_0 = {'Ankara': 06, 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': 06, 'Hatay': 31, 'izmir': 44}
# print(city_int_0)


# Sayı önüne 0 yazılmayıp tek haneli int olarak hatasız kullanılabilir.
city_int = {'Ankara': 6, 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': 6, 'Hatay': 31, 'izmir': 44}
print(city_int)

{'Ankara': 6, 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': 6, 'Hatay': 31, 'izmir': 44}

In [ ]:
# 9) city2 collection'ını = operatörünü kullanarak yukarıdaki city collection'ından koplayarak oluşturun.
city = {'Ankara': '06', 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44}

city2 = city  # city ve city2 tamamen aynı bellek bölgesi işaret ediyor, burada city2 ile yeni değişken oluşmuyor
print(city.values == city2.values)  # True çıkar
print(city.items == city2.items)  # True çıkar
print(city.keys == city2.keys)  # True çıkar
print(city == city2)  # True çıkar

city['Eskişehir'] = 26
print('city :', city)
print('city2:',city2)   # city'e eklenen değerler otomatik city2'e yüklenir

print()

city2['Kastamonu'] = 22
print('city2:',city2)  
print('city :',city)   # city2'e eklenen değerler otomatik city'e yüklenir

True
True
True
True
city : {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26}
city2: {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26}

city2: {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26, 'Kastamonu': 22}
city : {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26, 'Kastamonu': 22}

In [ ]:
# 10) city3 collection'ını copy() metdodu kullanarak yukarıdaki city collection'ından koplayarak oluşturun.
city = {'Ankara': '06', 'İstanbul':34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44}

city3 = city.copy()   # city ve city2 farklı değişkenler
print(city.values == city3.values)  # False çıkar
print(city.items == city3.items)   # False çıkar
print(city.keys == city3.keys)  # False çıkar
print(city == city3) 

city['Eskişehir'] = 26
print('city :',city)
print('city3 :',city3)   # city'e eklenen değerler city3'e eklenmez

print()
city3['Edirne'] = 22
print('city3:',city3)
print('city :',city)      # city3'e eklenen değerler city'e eklenmez

False
False
False
True
city : {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26}
city3 : {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44}

city3: {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Edirne': 22}
city : {'Ankara': '06', 'İstanbul': 34, 'İzmir': 35, 'Erzurum': 25, 'Trabzon': 61, 'Antalya': '06', 'Hatay': 31, 'izmir': 44, 'Eskişehir': 26}

In [ ]:
# 11) Aşağıdaki collection'ın fruit key'i içerisindeki meyvelerin sadece adlarını ekrana yazdırın.

bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  {'onion': 11.5,
                  'carrot': 34,  # vegetable value'si list, key (carrot): value(34), value int
                  'leek': 19,
                  'tomato': 25
                  }
}

#bazar_dict[0][1]  # KeyError,dictionary collectionlara index ile ulaşılmaz, key ile ulaşılır
print(bazar_dict['fruit'])   # tüm fruit valueleri olab meyvelerinin  key-valuelerine ulaşır
print(bazar_dict['fruit'].keys())  # dict_keys(['banana', 'apple', 'orange'])

{'banana': 20, 'apple': 10, 'orange': 15}
dict_keys(['banana', 'apple', 'orange'])

In [ ]:
# 11.1) Aşağıdaki collection'ın vegatable key'i içerisindeki carrot key value'sini carrot: 34 şeklinde formatlı olarak ekrana yazdırın.
bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  {'onion': 11.5,
                  'carrot': 34,   # vegetable value'si list, key (carrot): value(34), value int
                  'leek': 19,
                  'tomato': 25
                  }
}

print(bazar_dict['vegatable'])              # vegatable key'inin altındaki tüm value'yi  olduğu veri türünde verir
print(bazar_dict['vegatable']['carrot'])   # sadece carrot valuesi 13 ü verir
# print(bazar_dict['vegatable']['carrot'].keys())    # AttributeError verir, carrot valuesi int keys methodunu kullanamaz

print(list(bazar_dict['vegatable'].values()))  # list'e dönüştürerek yazar

print(bazar_dict['vegatable'].items())    # vegatable altındaki tüm value'ler
bazar_dict_carrot = list(bazar_dict['vegatable'].items())  # vegatable altındaki tüm value'ler key-value çiftlerini list'e çevirme

print(bazar_dict_carrot)      # vegatable altındakilerin hepsinin key-value tuple olarak listelenmesi, [('onion', 11.5), ('carrot', 34), ('leek', 19), ('tomato', 25)]
print(bazar_dict_carrot[1])   # ('carrot', 34) tuplesine ulaşma
print(f'{bazar_dict_carrot[1][0]} : {bazar_dict_carrot[1][1]}')   # carrot: 34 


# dictionary collectiondaki eleman sayıları
print()
print(len(bazar_dict))   # 2, dict collective boyutuna bakılır
print(len(bazar_dict['fruit']))     # 3,  dict collective boyutuna bakılır
print(len(bazar_dict['vegatable']))   # 4,  dict collective boyutuna bakılır
# print(len(bazar_dict['vegatable']['carrot']))  # TypeError hatası boyutuna bakılamaz, value değeri int, int değerinin boyutunabakılmaz
print(type(bazar_dict['vegatable']['carrot']))    # <class 'int'>

{'onion': 11.5, 'carrot': 34, 'leek': 19, 'tomato': 25}
34
[11.5, 34, 19, 25]
dict_items([('onion', 11.5), ('carrot', 34), ('leek', 19), ('tomato', 25)])
[('onion', 11.5), ('carrot', 34), ('leek', 19), ('tomato', 25)]
('carrot', 34)
carrot : 34

2
3
4
<class 'int'>

In [ ]:
# 11.2) Aşağıdaki collection'ın vegatable key'i içerisindeki carrot key value'sini boyutuna/eleman sayısına bakınız.

bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  {'onion': 11.5,
                  'carrot': [34, 23],   # vegetable value'si list, key (carrot): value([34,23]), value list
                  'leek': 19,
                  'tomato': 25
                  }
}

print(len(bazar_dict['vegatable']['carrot']))  # 2, carrot value'leri list, boyutuna/eleman sayısına bakılabilir

2

In [ ]:
# 11.3) Aşağıdaki collection'ın vegatable key'i içerisindeki carrot key value'sini boyutuna/eleman sayısına bakınız.
bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  {'onion': 11.5,
                  'carrot': '34',    # vegetable value'si dict,  key (carrot): value('34'), value str
                  'leek': 19,
                  'tomato': 25
                  }
}

print(len(bazar_dict['vegatable']['carrot']))  # 2, carrot value'si 'str 34', boyutuna/eleman sayısına bakılabilir
print(bazar_dict['vegatable']['carrot'][0])     # '3' -> '34' stringinin ilk elemanı
print(bazar_dict['vegatable']['carrot'][1])      # '4' -> '34' stringinin ikinci elemanı

2
3
4

In [ ]:
# 11.4) Aşağıdaki collection'ın vegatable key'i içerisindeki carrot key value'sini boyutuna/eleman sayısına bakınız.

bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  ['onion', 11.5,
                  'carrot', 34,  # vegetable value'si list, key (carrot): value(34), value int
                  'leek', 19,
                  'tomato', 25
                  ]
}
print(bazar_dict)

# print(bazar_dict['vegatable']['carrot'])   # TypeError: list indices must be integers or slices, not str
print(bazar_dict['vegatable'][2])        #'carrot'
print(bazar_dict['vegatable'][3])         # 34
print(type(bazar_dict['vegatable'][2]))   # <class 'str'>
print(type(bazar_dict['vegatable'][3]))   # <class 'int'>
print(len(bazar_dict['vegatable'][2]))    # 6
# print(len(bazar_dict['vegatable'][3]))    # Type Error, carrot value değeri int 34

{'fruit': {'banana': 20, 'apple': 10, 'orange': 15}, 'vegatable': ['onion', 11.5, 'carrot', 34, 'leek', 19, 'tomato', 25]}
carrot
34
<class 'str'>
<class 'int'>
6

In [ ]:
 # 11.5 Aşağıdaki collection'ın vegatable key'i içerisindeki carrot key value'sini boyutuna/eleman sayısına bakınız.
bazar_dict = {'fruit':
                {'banana': 20,
                'apple': 10,
                'orange': 15
              },
              'vegatable':
                  ['onion', 11.5,
                  'carrot', '34',   # vegetable value'si list, key (carrot): value('34'), value str
                  'leek', 19,
                  'tomato', 25
                  ]
             }

print(bazar_dict['vegatable'][3])    # '34'
print(type(bazar_dict['vegatable'][3]))  #<class 'str'>
print(len(bazar_dict['vegatable'][3]))    #2, vegatable value olan içindeki listin 3. indeksi '34'

34
<class 'str'>
2

In [ ]:
# 11.6) Hangi veri türündeki değerlerin boyuna bakılabilir

print(len(23))   # TypeError: object of type 'int' has no len()
print(len('ABC'))   # 3, str
print(len({2: 'd'}))  # 1 elemanlı, dict
print(len({'d': 2}))  # 1 elemanlı, dict
print(type({'d': 2}))  # <class 'dict'>

3
1
1
<class 'dict'>

In [ ]:
# 12) Kilosu aşağıda verilen ürünlerden 2 kilo orange'in fiyatını ve 3 kg carrot fiyatını collection içerisinde alıp 18. satırda print içerisinde asağıdaki gibi formatlı yazdırın.
# 2kg orange : 30TL
# 3kg carrot : 39TL

bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion': 11.5,
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}

print(f"")

In [ ]:
# 13) 10. Aşağıdaki collection içerisine
#         A) other key'i içerisine flower: 45TL ve cheese: 89TL çiftlerini key'i indeks gibi kullanarak ekleyin.
#         B) vegatable içerisindeki onion türlerine purple 30TL'yi update methodu ile ekleyin.
#         C) juice: 21TL'yi keyleri kontrol edip eğer yoksa eklemesini sağlayın.
bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion':{'white': 11.5,
                     'yellow': 15,
                     'small': 25},
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}

In [ ]:
# 14) 11. Aşağıdaki collection içerisindeki vegatable içerisindeki
#         A) fruit'leri del function'ı ile silin
#         B) tüm onion'ları pop methodu ile silin
#         C) leek'in value'sini silin
#         D) tomato'yu silin
bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion':{'white': 11.5,
                     'yellow': 15,
                     'small': 25},
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}

In [ ]:
# 15) Aşağıdaki collection içerisine Kenya: Nairobi çiftini ekleyin.

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Japan': 'Tokyo',
                    'Canada': 'Ottawa',
                    'Peru': 'Lima',
                    'Kazakhstan' : 'Astana',
                    'India' : 'New Delhi'                   
                    }

In [ ]:
# 16) dictionary collection içerisine 'Kenya':'Nairobi', 'Canada': 'Ottawa', 'Japan': 'Tokyo' key-value'leleri tek satırda ekleyin

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

In [ ]:
# 17) Aşağıdaki collection içerisine yapılan eklemelerden hangisi/hangileri çalışmaz ve çalışmama nedeni nedir? 
 
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Japan': 'Tokyo',
                    'Canada': 'Ottawa',
                    'Peru': 'Lima',
                    'Kazakhstan' : 'Astana',
                    'India' : 'New Delhi'                   
                    }
                    
country_capitals['Poland'] = 'Warsaw'
country_capitals.update({'Egypt': 'Cairo'})
country_capitals.update(Japan = 'Tokyo')
country_capitals.update([('USA', 'Washington, D.C.')])
country_capitals.update(Chine = 'Beijing')
country_capitals.update([['Azerbaijan', 'Baku']])

country_capitals

In [ ]:
# 18) 14, 15 ve 16. satırların print sonuçları nedir?
country_capitals1 = {'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima',  'India' : 'New Delhi'}

country_capitals2 = {'Türkiye': 'Ankara','Germany': 'Berlin', 'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

country_capitals3 = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print(country_capitals1,'\n')
print(country_capitals2,'\n')
print(country_capitals3)

In [ ]:
# 19) UK'nin başkentini London' yapın
country_capitals = {
    'asia': {'Japan': 'Tokyo',
             'Kazakhstan' : 'Astana',
             'Kyrgyzstan' : 'Bishkek',
             'India' : 'New Delhi'
             },
    'europe':{'UK': 'Washington',
              'France': 'Paris',
              'Türkiye': 'Ankara',
              'Rumania': 'Bucharest',
              'Bulgaria': 'Sofia',
              'Greece': 'Athens',
              'Germany': 'Berlin'
              },
    'america': {'Canada': 'Ottawa',
                'Canada': 'Ottawa',
                'Peru': 'Lima',
                'Mexico': 'Mexico City',
                'USA': 'Washington, D.C.'
                },
    'africa' : {'Kenya':'Nairobi',
                'Morocco': 'Rabat',
                'Nigeria':'Abuja',
                'Madagascar': ' Antananarivo'
                },
    'australia':{'Australia' : 'Canberra'}
    }

{}

In [ ]:
#) 20 ) İşlemlerinin sonunda hangi ülkeler kalır

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India': 'New Delhi',
                    'Kenya': 'Nairobi',
                    'Canada': 'Ottawa',
                    'Japan': 'Tokyo'}

del country_capitals['Canada']
country_capitals.pop('Peru')
country_capitals.popitem()
country_capitals

In [ ]:
# 21) 8, 10, 14 sattırlardaki print function içine dictionary item'i, key ve value'lerini ayrı satırlarda gösterecek methodları kullanın.
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }
# accesing dictionary items
print()

# accesing dictionary key
print()

# accesing dictionary value
print()

In [ ]:
# 22) Country_capitals'ın anahtar sayısını uygun function kullanarak gösterin.
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

In [ ]:
# 23) Country_capitals collection'ın sorted function.'ı uygulananınca ne olur?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print('Önce:  ', country_capitals)
print('Sıralı:' , sorted(country_capitals))
print('Sonra: ', country_capitals)

In [ ]:
# 24) Country_capitals collection'ın list function'ı uygulananınca ne olur?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print(country_capitals)
print(list(country_capitals))
print(country_capitals.keys())

In [ ]:
# 25) Collection'a göre aşağıdaki print sonuçları nelerdir?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }


print('Germany' in country_capitals)
print('Chine' not in country_capitals)
print('India' not in country_capitals)
print('Lima' in country_capitals)
print('Ankara' in country_capitals.values())

In [ ]:
# 26) A) planet key'ine World value'sini ekleyin
#     B) Saturn value'si Mars ile değişsin.
#     C) number'ın value'si 65 yapın
#     D) is_good is_bad olsun

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

In [ ]:
# 27) Collectine göre aşağıda print sonuçları?

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}


print(22 in mix_keys)
print(22 in mix_keys.keys())

print("integer" in mix_keys)
print("integer" in mix_keys.items())
print("integer" in mix_keys.values())

print((22,"integer") in mix_keys.items())

In [ ]:
# PreClass Homework
# How can we access and print Lisa’s age? Write the syntax.
customers = 
{
    'bank': 
      {1: {'name': 'James', 'age': '27', 'sex': 'Male'},
       2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},
       3: {'name': 'Andy', 'age': '38', 'sex': 'Male'},
       4: {'name': 'Alex', 'age': '19', 'sex': 'Male'},
       5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
      },
     'insurance':
      {1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'},
       2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},
       3: {'name': 'Adam', 'age': '56', 'sex': 'Male'},
       4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'},
       5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
      },
}