<a href="https://colab.research.google.com/github/safiyeolgun/students-lab/blob/main/03312023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Dictionary Collection**

In [ ]:
# 12) Kilosu aşağıda verilen ürünlerden 2 kilo orange'in fiyatını ve 3 kg carrot fiyatını collection içerisinde alıp 18. satırda print içerisinde asağıdaki gibi formatlı yazdırın.
# 2kg orange : 30TL
# 3kg carrot : 39TL

bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion': 11.5,
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}

print(f"2kg orange: {bazar_dict['fruit']['orange']*2}TL \n3kg carrot : {bazar_dict['vegatable']['carrot']*3}TL")

2kg orange: 30TL
3kg carrot : 39TL

In [ ]:
# 13) 10. Aşağıdaki collection içerisine
#         A) other key'i içerisine flower: 45TL ve cheese: 89TL çiftlerini key'i indeks gibi kullanarak ekleyin.
#         B) vegatable içerisindeki onion türlerine purple 30TL'yi update methodu ile ekleyin.
#         C) juice: 21TL'yi keyleri kontrol edip eğer yoksa eklemesini sağlayın.
bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion':{'white': 11.5,
                     'yellow': 15,
                     'small': 25},
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}

len(bazar_dict)
bazar_dict['other'] = {'flower': 45, 'cheese': 89}
bazar_dict['vegatable']['onion'].update({'purple':30})
bazar_dict.setdefault('juice', 21) # key' i kontrol eder yoksa ekler
bazar_dict ['juice'] = 21  # key yoksa ekler, varsa value'yi değiştir
print(len(bazar_dict))
bazar_dict

4

{'fruit': {'banana': 20, 'apple': 10, 'orange': 15},
 'vegatable': {'onion': {'white': 11.5,
   'yellow': 15,
   'small': 25,
   'purple': 30},
  'carrot': 13,
  'leek': 19,
  'tomato': 25},
 'other': {'flower': 45, 'cheese': 89},
 'juice': (2, 3, 4)}

In [ ]:
# 14) 11. Aşağıdaki collection içerisindeki vegatable içerisindeki
#         A) fruit'leri del function'ı ile silin
#         B) tüm onion'ları pop methodu ile silin
#         C) leek'in value'sini silin
#         D) tomato'yu silin
bazar_dict = {'fruit':
           {'banana': 20,
            'apple': 10,
            'orange': 15
           },
           'vegatable':
           {'onion':{'white': 11.5,
                     'yellow': 15,
                     'small': 25},
            'carrot': 13,
            'leek': 19,
            'tomato': 25
           }
}
del bazar_dict['fruit']
bazar_dict['vegatable'].pop('onion','silinecek yok')
bazar_dict['vegatable']['leek'] = 25
bazar_dict['vegatable'].popitem()
bazar_dict

{'vegatable': {'carrot': 13, 'leek': 25}}

In [ ]:
# 15) Aşağıdaki collection içerisine Kenya: Nairobi çiftini ekleyin.

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Japan': 'Tokyo',
                    'Canada': 'Ottawa',
                    'Peru': 'Lima',
                    'Kazakhstan' : 'Astana',
                    'India' : 'New Delhi'                   
                    }
len(country_capitals)
# country_capitals['Kenya'] = 'Nairobi'
# country_capitals.update({'Kenya': 'Nairobi'})
# country_capitals.update(Kenya ='Nairobi')
# country_capitals.update([['Kenya','İstanbul']])
# country_capitals.update([('Kenya',('İstanbul','Nairobi', 'Ali'))])

country_capitals.update(zip(['Kenya', 'Almataata'], [['X'], 'Y']))
country_capitals['Kenya'].append(('Nairobi','Eskişehir', 23))
country_capitals

{'Türkiye': 'Ankara',
 'Germany': 'Berlin',
 'Japan': 'Tokyo',
 'Canada': 'Ottawa',
 'Peru': 'Lima',
 'Kazakhstan': 'Astana',
 'India': 'New Delhi',
 'Kenya': ['X', ('Nairobi', 'Eskişehir', 23)],
 'Almataata': 'Y'}

In [ ]:
# 16) dictionary collection içerisine 'Kenya':'Nairobi', 'Canada': 'Ottawa', 'Japan': 'Tokyo' key-value'leleri tek satırda ekleyin

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

# country_capitals.update([('Kenya','Nairobi'),('Canada', 'Ottawa'), ('Japan','Tokyo' )])
# country_capitals.update({'Kenya':'Nairobi', 'Canada': 'Ottawa', 'Japan': 'Tokyo'})
country_capitals.update(Kenya ='Nairobi', Canada= 'Ottawa', Japan = 'Tokyo')
# country_capitals.update(zip(['Kenya','Canada', 'Japan'],['Nairobi', 'Ottawa', 'Tokyo']))
# country_capitals['Kenya'] ='Nairobi'
# country_capitals['Canada'] = 'Ottawa'
# country_capitals['Japon'] = 'Tokyo' 
# dict2 = dict(zip(['Kenya','Canada', 'Japan'],['Nairobi', 'Ottawa', 'Tokyo']))
country_capitals
# dict2

{'Kenya': 'Nairobi', 'Canada': 'Ottawa', 'Japan': 'Tokyo'}

In [ ]:
# 17) Aşağıdaki collection içerisine yapılan eklemelerden hangisi/hangileri çalışmaz ve çalışmama nedeni nedir? 
 
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Japan': 'Tokyo',
                    'Canada': 'Ottawa',
                    'Peru': 'Lima',
                    'Kazakhstan' : 'Astana',
                    'India' : 'New Delhi'                   
                    }
                    
country_capitals['India'] = 'Warsaw'
country_capitals.update({'Egypt': 'Cairo'})
country_capitals.update(Japan = None)
country_capitals.setdefault('Japan','Y')  
country_capitals.setdefault('Norweç','Oslo')
country_capitals.setdefault('slavenya')
country_capitals.update(Holland = 'ZZ')

# country_capitals.update([('USA', 'Washington, D.C.')])
# country_capitals.update(Chine = 'Beijing')
# country_capitals.update([['Azerbaijan', 'Baku']])



country_capitals

{'Türkiye': 'Ankara',
 'Germany': 'Berlin',
 'Japan': None,
 'Canada': 'Ottawa',
 'Peru': 'Lima',
 'Kazakhstan': 'Astana',
 'India': 'Warsaw',
 'Egypt': 'Cairo',
 'Norweç': 'Oslo',
 'slavenya': None,
 'Holland': 'ZZ'}

In [ ]:
# 18) 14, 15 ve 16. satırların print sonuçları nedir?
country_capitals1 = {
    'Türkiye': 'Ankara', 
                     'Germany': 'Berlin',   
                     'Peru': 
                     'Lima',  'India' : 'New Delhi'
                     }

country_capitals2 = {'Türkiye': 'Ankara','Germany': 'Berlin', 'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

country_capitals3 = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print(country_capitals1)
print(country_capitals2)
print(country_capitals3)
x = 4 + 5
x

{'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}
{'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}
{'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}

9

In [ ]:
# 19) UK'nin başkentini London' yapın
country_capitals = {
    'asia': {'Japan': 'Tokyo',
             'Kazakhstan' : 'Astana',
             'Kyrgyzstan' : 'Bishkek',
             'India' : 'New Delhi'
             },
    'europe':{'UK': 'Washington',
              'France': 'Paris',
              'Türkiye': 'Ankara',
              'Rumania': 'Bucharest',
              'Bulgaria': 'Sofia',
              'Greece': 'Athens',
              'Germany': 'Berlin'
              },
    'america': {'Canada': 'Ottawa',
                'Canada': 'Ottawa',
                'Peru': 'Lima',
                'Mexico': 'Mexico City',
                'USA': 'Washington, D.C.'
                },
    'africa' : {'Kenya':'Nairobi',
                'Morocco': 'Rabat',
                'Nigeria':'Abuja',
                'Madagascar': ' Antananarivo'
                },
    'australia':{'Australia' : 'Canberra'}
    }
    
country_capitals['europe']['UK'] = 'London'
# country_capitals['europe'].update(UK = 'London')
# country_capitals['europe'].setdefault('UK', 'London')
country_capitals

{'asia': {'Japan': 'Tokyo',
  'Kazakhstan': 'Astana',
  'Kyrgyzstan': 'Bishkek',
  'India': 'New Delhi'},
 'europe': {'UK': 'Washington',
  'France': 'Paris',
  'Türkiye': 'Ankara',
  'Rumania': 'Bucharest',
  'Bulgaria': 'Sofia',
  'Greece': 'Athens',
  'Germany': 'Berlin',
  'XYZ': 'London'},
 'america': {'Canada': 'Ottawa',
  'Peru': 'Lima',
  'Mexico': 'Mexico City',
  'USA': 'Washington, D.C.'},
 'africa': {'Kenya': 'Nairobi',
  'Morocco': 'Rabat',
  'Nigeria': 'Abuja',
  'Madagascar': ' Antananarivo'},
 'australia': {'Australia': 'Canberra'}}

In [ ]:
#) 20 ) İşlemlerinin sonunda hangi ülkeler kalır

country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India': 'New Delhi',
                    'Kenya': 'Nairobi',
                    'Canada': 'Ottawa',
                    'Japan': 'Tokyo'}

del country_capitals['Canada']     #  alternatifi: country_capitals.pop('Canada')
country_capitals.pop('Peru')
country_capitals.popitem()
# country_capitals.clear()   # country_capitals collection'unun içi temizlenir
# del country_capitals      # country_capitals collecitonu sildi
country_capitals

{'Türkiye': 'Ankara',
 'Germany': 'Berlin',
 'India': 'New Delhi',
 'Kenya': 'Nairobi',
 'Japan': 'Tokyo'}

In [ ]:
# 21) 8, 11, 14 sattırlardaki print function içine dictionary item'i, key ve value'lerini ayrı satırlarda gösterecek methodları kullanın.
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }
# accesing dictionary items
print(country_capitals.items())

# accesing dictionary key
print(country_capitals.keys())

# accesing dictionary value
print(country_capitals.values())

dict_items([('Türkiye', 'Ankara'), ('Germany', 'Berlin'), ('Peru', 'Lima'), ('India', 'New Delhi')])
dict_keys(['Türkiye', 'Germany', 'Peru', 'India'])
dict_values(['Ankara', 'Berlin', 'Lima', 'New Delhi'])

In [ ]:
# 22) Country_capitals'ın anahtar sayısını uygun function kullanarak gösterin.
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }
len(country_capitals)

4

In [ ]:
# 23) Country_capitals collection'ın sorted function.'ı uygulananınca ne olur?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print('Önce:  ', country_capitals)
print('Sıralı:' , sorted(country_capitals))
print('Sonra: ', country_capitals)

Önce:   {'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}
Sıralı: ['Germany', 'India', 'Peru', 'Türkiye']
Sonra:  {'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}

In [ ]:
# 24) Country_capitals collection'ın list function'ı uygulananınca ne olur?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }

print(country_capitals)
print(list(country_capitals))
print(country_capitals.keys())

{'Türkiye': 'Ankara', 'Germany': 'Berlin', 'Peru': 'Lima', 'India': 'New Delhi'}
['Türkiye', 'Germany', 'Peru', 'India']
dict_keys(['Türkiye', 'Germany', 'Peru', 'India'])

In [ ]:
# 25) Collection'a göre aşağıdaki print sonuçları nelerdir?
country_capitals = {'Türkiye': 'Ankara',
                    'Germany': 'Berlin',
                    'Peru': 'Lima',
                    'India' : 'New Delhi'
                    }


print('Germany' in country_capitals)
print('Chine' not in country_capitals)
print('India' not in country_capitals)
print('Lima' in country_capitals)
print('Ankara' in country_capitals.values())

True
True
False
False
True

In [ ]:
# 26) A) planet key'ine World value'sini ekleyin
#     B) Saturn value'si Mars ile değişsin.
#     C) number'ın value'si 65 yapın
#     D) is_good is_bad olsun

mix_values = {'animal': ('dog', 'cat'),  # tuple type
              'planet': ['Neptun', 'Saturn', 'Jupiter'],  # list type
              'number': 40,  # int type
              'pi': 3.14,  # float type
              'is_good': True}  # bool type

mix_values['planet'].append('World')
mix_values['planet'][1] = 'Mars'
mix_values['number'] = 65
mix_values['is_bad'] = mix_values.pop('is_good')

print(mix_values)

{'animal': ('dog', 'cat'), 'planet': ['Neptun', 'Mars', 'Jupiter', 'World'], 'number': 65, 'pi': 3.14, 'is_bad': True}

In [ ]:
# 27) Collectine göre aşağıda print sonuçları?

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}


print(22 not in mix_keys)
print(22 in mix_keys.keys())

print("integer" in mix_keys)
print("integer" in mix_keys.items())
print("integer" not in mix_keys.values())

print((22,"integer") in mix_keys.items())

False
True
False
False
False
True

In [ ]:
# PreClass Homework
# How can we access and print Lisa’s age? Write the syntax.
customers = {
    'bank': 
      {1: {'name': 'James', 'age': '27', 'sex': 'Male'},
       2: {'name': 'Nicole', 'age': '25', 'sex': 'Female'},
       3: {'name': 'Andy', 'age': '38', 'sex': 'Male'},
       4: {'name': 'Alex', 'age': '19', 'sex': 'Male'},
       5: {'name': 'Linda', 'age': '33', 'sex': 'Female'}, 
      },
     'insurance':
      {1: {'name': 'Jashua', 'age': '33', 'sex': 'Male'},
       2: {'name': 'Marry', 'age': '66', 'sex': 'Female'},
       3: {'name': 'Adam', 'age': '56', 'sex': 'Male'},
       4: {'name': 'Samuel', 'age': '54', 'sex': 'Male'},
       5: {'name': 'Lisa', 'age': '22', 'sex': 'Female'},
      },
}

customers['insurance'][5]['age']

'22'