<a href="https://colab.research.google.com/github/safiyeolgun/students-lab/blob/main/04062023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> For Loop </h1>

In [ ]:
for variable in iterable:
    code block

iterable types of data
string, list, tuple , dictionary, set

len()

my_string ='Clarusway'
my_string = '12345'
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_dict = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: five}
my_set = { 1, 2, 3, 4, 5}
my_order = range(10)

Aşağıda verilen list'in herbir elemanını iterable olarak for döngüsü içerisinde alıp her elemanı ekranda ayrı satırda yazan program

In [ ]:
my_list = [1, 2, 3, 4, 5]

print(my_list)

for eleman in my_list:
  print(eleman)

print()
print(*my_list, sep='\n')

[1, 2, 3, 4, 5]
1
2
3
4
5

1
2
3
4
5

Aşağıda verilen tuple'nin herbir elemanını iterable olarak for döngüsü içerisinde alıp her elemanı ekranda ayrı satıra yazan program

In [ ]:
seasons = ('spring', 'summer', 'autumn', 'winter')

print(seasons)

for x in seasons:
  print(x)

print(x)

('spring', 'summer', 'autumn', 'winter')
spring
summer
autumn
winter
winter

Aşağıda verilen dictionary'in herbir elemanını iterable olarak for döngüsü içerisinde alıp her elemanı ekranda ayrı satırda yazan program

In [ ]:
numbers = {'n1' : 'one', 'n2' : 'two', 'n3': 'three'}

print(len(numbers), numbers)

for i in numbers.items():
  print(i[1])

3 {'n1': 'one', 'n2': 'two', 'n3': 'three'}
one
two
three

Aşağıda verilen set'in herbir elemanını iterable olarak for döngüsü içerisinde alıp her elemanı ekranda ayrı satırda yazan program

In [ ]:
months = {'January', 'Ferbuary', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'}

print(months)

for j in months:
  print(j)

{'March', 'June', 'January', 'November', 'December', 'August', 'September', 'October', 'May', 'July', 'Ferbuary', 'April'}
March
June
January
November
December
August
September
October
May
July
Ferbuary
April

Aşağıda verilen range ile elde edilen listenin her bir elemanını ekranda ayrı satırda yazan program

In [ ]:
my_sequence = range(1, 11, 1)

print(my_sequence)

for x in my_sequence:
  print(x)

range(1, 11)
1
2
3
4
5
6
7
8
9
10

In [ ]:
my_sequence = range(1, 11, 1)
print(my_sequence)
print(list(my_sequence))
for x in my_sequence:
  print(x, end='\n')

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

Ekrana 8 kez Dünya Dönüyor yazdıran program

In [ ]:
# print(8*'Dünya Dönüyor\n')
text ='Dünya Dönüyor'

for i in range(8):
  print(f'{i}. {text}')

0. Dünya Dönüyor
1. Dünya Dönüyor
2. Dünya Dönüyor
3. Dünya Dönüyor
4. Dünya Dönüyor
5. Dünya Dönüyor
6. Dünya Dönüyor
7. Dünya Dönüyor

Klavyeden 10 kere giriş yapan program

In [ ]:
for i in range(10
               ):
  input(f'{i+1}. girişi yap: ')

1. girişi yap:
2. girişi yap: 5
3. girişi yap:
4. girişi yap: 6
5. girişi yap: 4
6. girişi yap: 4
7. girişi yap: 5
8. girişi yap: 5
9. girişi yap: 2
10. girişi yap: 2

Aşağıdaki Okul numarası ve İsmi listesi verilen 2 listeyi zip fuction ile birleştirerek ekranda yzan program

In [ ]:
numbers = [90, 3, 20, 543, 47]
names = ['Aydan Yıldız', 'Ali Güneş', 'Selma Varlı', 'Sinem Yılmaz', 'Ayhan Işık']

for i in zip(numbers, names):
  print(i)

(90, 'Aydan Yıldız')
(3, 'Ali Güneş')
(20, 'Selma Varlı')
(543, 'Sinem Yılmaz')
(47, 'Ayhan Işık')

Klavyeden girilen ismin her harfini ayrı satırda yazan program

In [ ]:
text = input('ismini gir: ')

# print(text)

for eleman in text:
  print(eleman)

ismini gir: Ayşegül
A
y
ş
e
g
ü
l

1-20'ye kadar olan sayılarının karelerini ekrana yazan program

In [ ]:
for x in range(1,21):
  print(f'{x}. karesi = {pow(x,2)}')

1. karesi = 1
2. karesi = 4
3. karesi = 9
4. karesi = 16
5. karesi = 25
6. karesi = 36
7. karesi = 49
8. karesi = 64
9. karesi = 81
10. karesi = 100
11. karesi = 121
12. karesi = 144
13. karesi = 169
14. karesi = 196
15. karesi = 225
16. karesi = 256
17. karesi = 289
18. karesi = 324
19. karesi = 361
20. karesi = 400

Klavyeden girilen 15 sayıyı odd ve even adlı iki ayrı list collection'a ekleyip, ekranda gösteren program

In [ ]:
even = []
odd = []

for i in range(15):
  sayi = int(input(f'{i+1}. sayıyı gir: '))
  if sayi % 2 == 0:
    even.append(sayi)
  else:
    odd.append(sayi)

print(odd)
print(even)

1. sayıyı gir: 7
2. sayıyı gir: 0
3. sayıyı gir: 90
4. sayıyı gir: 24
[7]
[0, 90, 24]

Klavyeden girilen 20 sayı içerisinde en büyüğünü bulan program

In [ ]:
sayi = []

for i in range(1,5):
  x = int(input(f'{i}. sayı: '))
  sayi.append(x)

print('en büyük sayı:', max(sayi))

1. sayı: 6
2. sayı: -3
3. sayı: 4
4. sayı: 1
en büyük sayı: 6

In [ ]:
sayi = []

for i in range(1,5):
  x = int(input(f'{i}. sayı: '))
  sayi.append(x)

  enb = 0
for i in sayi:
  if i > enb:
    enb =i
print('en büyük sayı: ', enb)

1. sayı: 5
2. sayı: 8
3. sayı: 2
4. sayı: 0
en büyük sayı:  8

In [ ]:
enb = 0
for i in range(1,5):
  x = int(input(f'{i}. sayı: '))
  if x > enb:
    enb = x 

print('en büyük sayı: ', enb)

1. sayı: 6
2. sayı: 2
3. sayı: 5
4. sayı: -1
en büyük sayı:  6

# **Nested Loop:** 
Çarpım tablosunu oluşturun

In [ ]:
for i in range(1,11):  
  for j in  range(1,11):  
    print(f'{i} x {j} =', i*j)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

Kullanıcıdan bir iş yerindeki 5 çalışanın sicil no, ad ve soyad bilgilerini alıp, dictionary collectiona ekleyen program

In [ ]:
personel = {}

for i in range(5):
  sicil_no = input(f'{i+1}. kişinin sicil nosu: ')
  ad = input(f'{i+1}. kişinin adı: ')
  soyad = input(f'{i+1}. kişinin  soyadı: ')
  personel[sicil_no] = (ad, soyad)

print(personel)